In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
#load dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#drop unnecessary columns
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
#encoding categorical variables
le=LabelEncoder()
label_gender=data['Gender']=le.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [7]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [8]:
ohe=OneHotEncoder()
geo_encoded=ohe.fit_transform(data[["Geography"]])
geo_encoded=geo_encoded.toarray()

In [9]:

geo_df=pd.DataFrame(geo_encoded,columns=ohe.get_feature_names_out(['Geography']))
data=pd.concat([data,geo_df],axis=1)
data=data.drop("Geography",axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
with open("le.pkl","wb") as f:
    pickle.dump(le,f)

with open("ohe_encoder.pkl","wb") as f:
    pickle.dump(ohe, f)

In [11]:
#divide datas to dependent and independent variables
x=data.drop(columns=["Exited"],axis=1)
y=data["Exited"]

In [12]:
#split data to train and test
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

#scaling data
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [13]:
x_train_scaled

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [14]:
#saving scaled data
with open("scaler.pkl","wb") as f:
    pickle.dump(scaler,f)

ANN IMPLEMENTATION

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [18]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(x_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]

)

WARNING:tensorflow:From c:\COURSE PROJECTS\ANN PROJECT\myvenv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [19]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [20]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [21]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [24]:
### Train the model
history=model.fit(
    x_train,y_train,validation_data=(x_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\COURSE PROJECTS\ANN PROJECT\myvenv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\COURSE PROJECTS\ANN PROJECT\myvenv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 4ms/step - loss: 150.3461 - accuracy: 0.6720 - val_loss: 12.2656 - val_accuracy: 0.8035
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 5.8088 - accuracy: 0.6964 - val_loss: 1.1288 - val_accuracy: 0.4530
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5797 - accuracy: 0.7764 - val_loss: 0.5570 - val_accuracy: 0.8035
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5285 - accuracy: 0.7893 - val_loss: 0.5156 - val_accuracy: 0.8035
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 1.8059 - accuracy: 0.7843 - val_loss: 0.4985 - val_accuracy: 0.8035
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5081 - accuracy: 0.7945 - val_loss: 0.4961 - val_accuracy: 0.8035
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5078 - accuracy: 0.7945 - val_loss: 0.4966 - val_accuracy: 0.8035
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5078 - accuracy: 0.7945 - val_loss: 0.4960 - val_accuracy: 0.8035
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5079 - accuracy: 0.7945 - val_loss: 0.4966 - val_accuracy: 0.8035
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5078 - accuracy: 0.7945 - val_loss: 0.4983 - val_accuracy: 0.8035
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945 - val_loss: 0.4959 - val_accuracy: 0.8035
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5079 - accuracy: 0.7945 - val_loss: 0.4955 - val_accuracy: 0.8035
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945 - val_loss: 0.4956 - val_accuracy: 0.8035
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5081 - accuracy: 0.7945 - val_loss: 0.4959 - val_accuracy: 0.8035
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945 - val_loss: 0.4956 - val_accuracy: 0.8035
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5953 - accuracy: 0.7918 - val_loss: 0.4953 - val_accuracy: 0.8035
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5083 - accuracy: 0.7945 - val_loss: 0.4960 - val_accuracy: 0.8035
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5082 - accuracy: 0.7945 - val_loss: 0.4962 - val_accuracy: 0.8035
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5081 - accuracy: 0.7945 - val_loss: 0.4963 - val_accuracy: 0.8035
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5082 - accuracy: 0.7945 - val_loss: 0.4956 - val_accuracy: 0.8035
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5140 - accuracy: 0.7945 - val_loss: 0.4974 - val_accuracy: 0.8035
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5085 - accuracy: 0.7945 - val_loss: 0.4960 - val_accuracy: 0.8035
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5077 - accuracy: 0.7945 - val_loss: 0.4956 - val_accuracy: 0.8035
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5076 - accuracy: 0.7945 - val_loss: 0.4956 - val_accuracy: 0.8035
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5078 - accuracy: 0.7945 - val_loss: 0.4948 - val_accuracy: 0.8035
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5076 - accuracy: 0.7945 - val_loss: 0.4953 - val_accuracy: 0.8035
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5076 - accuracy: 0.7945 - val_loss: 0.4950 - val_accuracy: 0.8035
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5069 - accuracy: 0.7945 - val_loss: 0.4967 - val_accuracy: 0.8035
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5079 - accuracy: 0.7945 - val_loss: 0.4967 - val_accuracy: 0.8035
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945 - val_loss: 0.4956 - val_accuracy: 0.8035
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5081 - accuracy: 0.7945 - val_loss: 0.4957 - val_accuracy: 0.8035
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5442 - accuracy: 0.7944 - val_loss: 0.4954 - val_accuracy: 0.8035
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5080 - accuracy: 0.7945 - val_loss: 0.4956 - val_accuracy: 0.8035
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5077 - accuracy: 0.7945 - val_loss: 0.4956 - val_accuracy: 0.8035
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5079 - accuracy: 0.7945 - val_loss: 0.4957 - val_accuracy: 0.8035

In [25]:
model.save('model.h5')

c:\COURSE PROJECTS\ANN PROJECT\myvenv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(